<div class="font-poppins">
  <div class="flex justify-center space-x-2.5 pt-12">
    <div *ngFor="let step of steps; let i = index" class="w-35 h-2 rounded-full transition-all duration-300"
      [ngClass]="currentStep > i
        ? 'bg-lime-400'
        : 'bg-[#DFDFDF]'">
    </div>
  </div>
  <section class="pt-9" *ngIf="currentStep === 1">
    <div class="">
      <div class="grid justify-center">
        <h2 class="grid justify-center text-[3.5rem] font-bold">Tell Us About Yourself!</h2>
        <span class="text-center max-w-3xl text-[1.4rem]">Hello! Now we need some of your information to create your
          journey! First of all, what is your gender?</span>
      </div>

      <div class="flex justify-center space-x-4 pt-10">
        <button (click)="selectGender('female')"
          class="group relative w-62 h-62 rounded-full flex flex-col items-center justify-center transition-all duration-200 ease-in-out"
          [ngClass]="selectedGender === 'female' ? 'bg-[#AFFA01]' : 'bg-[#F5F5F5] hover:bg-[#AFFA01]'">

          <div class="relative w-40 h-40">
            <img src="../../../assets/onboarding/Female.png" alt="female"
              class="absolute inset-0 w-full h-full object-contain transition-opacity duration-200 opacity-100 group-hover:opacity-0"
              [class.opacity-0]="selectedGender === 'female'">

            <img src="../../../assets/onboarding/Female-hover.png" alt="female-hover"
              class="absolute inset-0 w-full h-full object-contain transition-opacity duration-200 opacity-0 group-hover:opacity-100"
              [class.opacity-100]="selectedGender === 'female'">
          </div>

          <span class="text-xl font-medium pt-3 transition-colors duration-200"
            [ngClass]="selectedGender === 'female' ? 'text-[#557A00]' : 'text-[#9A9A9A] group-hover:text-[#557A00]'">
            Female
          </span>
        </button>

        <button (click)="selectGender('male')"
          class="group relative w-62 h-62 rounded-full flex flex-col items-center justify-center transition-all duration-200 ease-in-out"
          [ngClass]="selectedGender === 'male' ? 'bg-[#AFFA01]' : 'bg-[#F5F5F5] hover:bg-[#AFFA01]'">

          <div class="relative w-40 h-40">
            <img src="../../../assets/onboarding/Male.png" alt="male"
              class="absolute inset-0 w-full h-full object-contain transition-opacity duration-200 opacity-100 group-hover:opacity-0"
              [class.opacity-0]="selectedGender === 'male'">

            <img src="../../../assets/onboarding/Male-hover.png" alt="male-hover"
              class="absolute inset-0 w-full h-full object-contain transition-opacity duration-200 opacity-0 group-hover:opacity-100"
              [class.opacity-100]="selectedGender === 'male'">
          </div>

          <span class="text-xl font-medium pt-3 transition-colors duration-200"
            [ngClass]="selectedGender === 'male' ? 'text-[#557A00]' : 'text-[#9A9A9A] group-hover:text-[#557A00]'">
            Male
          </span>
        </button>
      </div>
      <div class="flex justify-center">
        <button class="items-center w-130 h-15 rounded-lg mt-20 flex justify-center bg-[#AFFA01]" (click)="next()"
          [disabled]="!canContinue()">
          <div class="flex justify-center font-[540] text-center text-2xl">
            Continue
          </div>
        </button>
      </div>
    </div>
  </section>

  <section class="pt-17" *ngIf="currentStep === 2">
    <div>
      <div class="grid justify-center">
        <h2 class="grid justify-center text-[3.5rem] font-bold">Tell Us About Yourself!</h2>
        <span class="text-center max-w-3xl text-[1.4rem]">Next, we need to know your age. When is your Birthday?</span>
      </div>

      <div class="flex justify-center pt-14">
        <div class="flex items-center gap-4">

          <!-- DAY -->
          <input
            #dayInput
            type="text"
            inputmode="numeric"
            pattern="[0-9]*"
            placeholder="DD"
            maxlength="2"
            class="w-24 h-20 border rounded-xl
                  text-center text-3xl
                  placeholder:text-center
                  appearance-none
                  p-0"
            [(ngModel)]="birthDay"
            (input)="syncDate()"
            (keyup)="onBirthKey($event, monthInput)"
          />


          <!-- MONTH -->
          <input
            #monthInput
            type="text"
            inputmode="numeric"
            pattern="[0-9]*"
            placeholder="MM"
            maxlength="2"
            class="w-24 h-20 border rounded-xl
                  text-center text-3xl
                  placeholder:text-center
                  appearance-none
                  p-0"
            [(ngModel)]="birthMonth"
            (input)="syncDate()"
            (keyup)="onBirthKey($event, yearInput)"
          />

          <!-- YEAR -->
          <input
              #yearInput
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              placeholder="YYYY"
              maxlength="4"
              class="w-24 h-20 border rounded-xl
                    text-center text-3xl
                    placeholder:text-center
                    appearance-none
                    p-0"
              [(ngModel)]="birthYear"
              (input)="syncDate()"
            />

          <!-- CALENDAR -->
          <label class="relative cursor-pointer">
            <input
              type="date"
              class="absolute inset-0 opacity-0 cursor-pointer"
              (change)="onCalendarChange($event)"
            />
            <svg xmlns="http://www.w3.org/2000/svg"
              class="w-10 h-10"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
          </label>

        </div>
      </div>

    </div>
    <div class="flex justify-center">
      <button class="items-center w-130 h-15 rounded-lg mt-20 flex justify-center bg-[#AFFA01]" (click)="next()"
        [disabled]="!canContinue()">
        <div class="flex justify-center font-[540] text-center text-2xl">
          Continue
        </div>
      </button>
    </div>
  </section>

  
  <section class="pt-10" *ngIf="currentStep === 3">
    <div>
      <div class="grid justify-center">
        <h2 class="grid justify-center text-[3.5rem] font-bold">How Are You?</h2>
        <span class="text-center max-w-3xl text-[1.4rem]">Now we need information about your body physics, first what is
          your height and weight right now?</span>
      </div>

      <div class="flex justify-center gap-15 pt-5">
        <img src="" alt="body" class="w-50 h-80 bg-black">
        <div class="flex flex-col gap-6 justify-center">
          <div>
            <label class="block text-xl font-medium mb-2">Height</label>
            <div class="relative w-90">
              <input #heightInput type="number" min="50" max="250" placeholder=""
                class="no-spinner w-90 h-15 bg-[#F5F5F5] rounded-sm px-6 text-xl outline-none focus:ring-2 focus:ring-[#AFFA01]"
                [(ngModel)]="formData.height" 
                (keydown)="onBodyKey($event, weightInput)"/>
              <div
                class="absolute flex items-center justify-center w-20 h-8 rounded-md bg-[#AFFA01] right-4 top-1/2 -translate-y-1/2 text-base font-medium text-black pointer-events-none">
                cm</div>
            </div>
            <p
              *ngIf="formData.height && (formData.height < 50 || formData.height > 250)"
              class="text-red-500 text-sm mt-2">
              Height must be between 50–250 cm
            </p>
          </div>
          <div>
            <label class="block text-xl font-medium mb-2">Weight</label>
            <div class="relative w-90">
              <input #weightInput type="number" min="30" max="250" [(ngModel)]="formData.weight" placeholder=""
                class="no-spinner w-full h-15 px-6 rounded-lg bg-gray-100 text-xl focus:outline-none focus:ring-2 focus:ring-[#AFFA01]" (keydown)="onBodyKey($event, null)"/>
              <div
                class="absolute flex items-center justify-center w-20 h-8 rounded-md bg-[#AFFA01] right-4 top-1/2 -translate-y-1/2 text-base font-medium text-black pointer-events-none">
                kg</div>
            </div>
            <p
            *ngIf="formData.weight && (formData.weight < 30 || formData.weight > 250)"
            class="text-red-500 text-sm mt-2">
            Weight must be between 30–250 kg
          </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <button class="items-center w-130 h-15 rounded-lg mt-6 flex justify-center bg-[#AFFA01]" (click)="next()"
          [disabled]="!canContinue()">
          <div class="flex justify-center font-[540px] text-center text-2xl">
            Continue
          </div>
        </button>
      </div>
    </div>
  </section>


  <section class="pt-10" *ngIf="currentStep === 4">
    <div>
      <div class="grid justify-center">
        <h2 class="grid justify-center text-[3.5rem] font-bold">Do You Have Symptoms?</h2>
        <span class="text-center max-w-3xl text-[1.4rem]">We need to know about your body condition, do you have any of the following symptoms?</span>
      </div>
      <div (keydown.enter)="$event.preventDefault()" class="grid justify-center pt-14 gap-4">
        <button
          type="button"
          (click)="selectCondition('diabetes')"
          class="w-100 h-15 rounded-lg text-xl border-[1.5px] text-[#808080] transition
           hover:bg-[#AFFA01]"
          [ngClass]="selectedCondition.includes('diabetes') ? 'bg-[#AFFA01]' : 'bg-white'">Diabetes
        </button>
        <button
          type="button"
          (click)="selectCondition('hypertension')"
          class="w-100 h-15 rounded-lg text-xl border-[1.5px] text-[#808080] transition
           hover:bg-[#AFFA01]"
          [ngClass]="selectedCondition.includes('hypertension') ? 'bg-[#AFFA01]' : 'bg-white'">Hypertension
        </button>
      </div>
      <div class="flex justify-center gap-3">
        <button class="items-center w-130 h-15 rounded-lg mt-20 flex justify-center bg-[#AFFA01]" (click)="next()"
          [disabled]="!canContinue()">
          <div class="flex justify-center font-[540] text-center text-2xl">
            Continue
          </div>
        </button>
      </div>
    </div>
  </section>

</div>