<div class="flex gap-3">
  <button
    class="relative w-8.5 h-8.5 rounded-full bg-[#D2F57F] overflow-hidden hover:bg-[#d4f580] transition group"
  >
    <img
      src="/pages/workout-lists/notification.svg"
      alt="Notification"
      class="absolute w-5.5 h-5.5 bottom-1 left-1/2 -translate-x-1/2"
    />
  </button>

  <button
    routerLink="/profile/my-account"
    class="relative w-8.5 h-8.5 rounded-full bg-[#D2F57F] overflow-hidden hover:opacity-90 transition cursor-pointer"
  >
    <img
      src="/pages/workout-lists/person.svg"
      alt="Profile"
      class="absolute w-7.5 h-7.5 bottom-0 left-1/2 -translate-x-1/2"
    />
  </button>
</div>
