<div class="w-full space-y-8 lg:-mt-16">
            
    <div class="bg-[#F4F4F4] rounded-[11px] border border-[#D2D2D2]">
        
        <div class="p-5">
            <h3 class="text-[28px] font-bold mb-7">Calendar</h3>
            
            <div class="flex items-center justify-between mb-6">
                <div class="flex flex-row gap-4">
                    <span class="text-[16px] font-medium text-gray-700">{{ displayMonthYear }}</span>
                    <img src="/assets/calendar/calendar.svg" alt="">
                </div>
                <div class="flex gap-2">
                    <button (click)="changeMonth(-1)" class="w-6 h-6 rounded-full bg-[#4E7000] flex items-center justify-center text-white hover:bg-black transition cursor-pointer">
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                    </button>
                    <button (click)="changeMonth(1)" class="w-6 h-6 rounded-full bg-[#4E7000] flex items-center justify-center text-white hover:bg-black transition cursor-pointer">
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </button>
                </div>
            </div>
            
            <div class="grid grid-cols-7 text-center mb-4 mt-7">
                <div *ngFor="let day of weekDays" class="text-[12px] font-bold text-[#5C8C00] uppercase">{{ day }}</div>
            </div>
            
            <div class="grid grid-cols-7 text-center gap-y-4">
                <ng-container *ngFor="let row of calendarDays">
                    <div *ngFor="let dateObj of row" class="flex justify-center items-center">
                        <div (click)="dateObj.isCurrentMonth && toggleDate(dateObj.day)"
                             class="w-8 h-8 flex flex-col items-center justify-center rounded-full transition select-none"
                             [class.cursor-pointer]="dateObj.isCurrentMonth"
                             [class.hover:bg-gray-200]="dateObj.isCurrentMonth"
                             
                             
                             [class.bg-[#AFFA01]]="dateObj.isCurrentMonth && isToday(dateObj.day)"
                             [class.text-black]="dateObj.isCurrentMonth && isToday(dateObj.day)"
                             
                             
                             [class.text-gray-600]="dateObj.isCurrentMonth && !isToday(dateObj.day)"
                             [class.text-gray-300]="!dateObj.isCurrentMonth">
                            
                            <span class="text-[12px] font-medium leading-none">{{ dateObj.day }}</span>

                            <div *ngIf="dateObj.isCurrentMonth && hasActivity(dateObj.day)" 
                                 class="w-1 h-1 rounded-full mt-0.5"
                                 [class.bg-black]="isToday(dateObj.day)"
                                 [class.bg-[#5C8C00]]="!isToday(dateObj.day)">
                            </div>

                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="h-px bg-[#D2D2D2] mx-6 mt-5"></div>

        <div class="p-6 space-y-6">
            <h3 class="text-[18px] font-medium mb-7">Summary</h3>
            
            <div class="flex items-center gap-4">
                <div class="w-14.75 h-14.75 bg-[#EDE689] border border-[#DAD377] rounded-[7px] flex items-center justify-center text-black font-medium shrink-0">
                    <img src="/assets/calendar/type.svg" alt="" class="w-6 h-6">
                </div>
                <div>
                    <p class="text-[14px] font-medium">Workout Type</p>
                    <p class="text-[12px] text-[#2D2D2D]">{{ selectedMode === 'Home' ? 'Cardio Fitness' : 'Strength Training' }}</p>
                </div>
            </div>

            <div class="flex items-center gap-4">
                <div class="w-14.75 h-14.75 bg-[#C5D6FF] border border-[#9AB7FF] rounded-[7px] flex items-center justify-center text-black font-medium shrink-0">
                    <img src="/assets/calendar/location.svg" alt="" class="w-6 h-6">
                </div>
                <div>
                    <p class="text-[14px] font-medium">Workout Location</p>
                    <p class="text-[12px] text-[#2D2D2D]">{{ selectedMode }} Workout</p>
                </div>
            </div>

            <div class="flex items-center gap-4">
                <div class="w-14.75 h-14.75 bg-[#DBF3A3] border border-[#8AC500] rounded-[7px] flex items-center justify-center text-blackfont-medium shrink-0">
                    <img src="/assets/calendar/summary-duration.svg" alt="" class="w-6 h-6">
                </div>
                <div>
                    <p class="text-[14px] font-medium">Workout Duration</p>
                    <p class="text-[12px] text-[#2D2D2D]">1 Hour 30 Mins</p> 
                </div>
            </div>

            <div class="flex items-center gap-4 mb-2">
                <div class="w-14.75 h-14.75 bg-[#FFB0A4] border border-[#DB6755] rounded-[7px] flex items-center justify-center text-blackfont-medium shrink-0">
                    <img src="/assets/calendar/summary-calories.svg" alt="" class="w-6 h-6">
                </div>
                <div>
                    <p class="text-[14px] font-medium">Calories Burn By Workouts</p>
                    <p class="text-[12px] text-[#2D2D2D]">1200 cal</p>
                </div>
            </div>
        </div>
    </div>
</div>