<nav class="fixed top-6 w-full z-50">
  <div class="flex justify-center px-20">
    <div
      class="bg-black/45 backdrop-blur-md border border-[#626262]/75 shadow-lg rounded-full px-12 py-7 flex items-center justify-between text-white w-full"
    >
      <div>viktorifit</div>
      <div class="flex gap-15">
        <a routerLink="/" class="hover:text-(--main-color) transition"> Home </a>
        <a routerLink="/programs" class="hover:text-(--main-color) transition"> Programs </a>
        <a routerLink="/pricing" class="hover:text-(--main-color) transition"> Pricing </a>
        <a routerLink="/about" class="hover:text-(--main-color) transition">About</a>
        <a
          routerLink="login"
          class="hover:text-(--main-color) transition cursor-pointer"
          type="button"
          >Login</a
        >
      </div>
    </div>
  </div>
</nav>
