<nav class="fixed top-6 w-full z-50">
  <div class="flex justify-center px-20">
    <div
      class="bg-black/45 backdrop-blur-md border border-[#626262]/75 shadow-lg rounded-full px-12 py-5 flex items-center justify-between text-white w-full"
    >
      <div>viktorifit</div>

      <div class="flex gap-8">
        <a
          routerLink="/"
          routerLinkActive="text-(--main-color)"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:text-(--main-color) transition font-semibold"
        >
          Home
        </a>

        <a
          routerLink="/programs"
          routerLinkActive="text-(--main-color)"
          class="hover:text-(--main-color) transition font-semibold"
        >
          Programs
        </a>

        <a
          routerLink="/pricing"
          routerLinkActive="text-(--main-color)"
          class="hover:text-(--main-color) transition font-semibold"
        >
          Pricing
        </a>

        <a
          routerLink="/about"
          routerLinkActive="text-(--main-color)"
          class="hover:text-(--main-color) transition font-semibold"
        >
          About
        </a>

        <a
          routerLink="/support"
          routerLinkActive="text-(--main-color)"
          class="hover:text-(--main-color) transition font-semibold"
        >
          Support
        </a>

        <a
          routerLink="/login"
          routerLinkActive="text-(--main-color)"
          class="hover:text-(--main-color) transition font-semibold cursor-pointer"
          type="button"
        >
          Login
        </a>
      </div>
    </div>
  </div>
</nav>
