<footer class="bg-black h-1/2 flex flex-col items-center justify-center py-20 gap-7">
  <span class="logo text-[#AFFA01]">
    <img src="" alt="" />
    <h3>Viktorifit</h3>
  </span>

  <div class="text-[#D8D8D8]">
    <div class="flex gap-10">
      <a routerLink="/">HOME</a>
      <a routerLink="/">RECOMENDATION</a>
      <a routerLink="/">SUPPORT</a>
    </div>
  </div>

  <div class="text-[#D8D8D8] text-[14px] text-center">
    <p>Copyright © 2026 ViktoriFit. Empowering your flexible fitness journey.</p>
    <p>Developed and managed by ViktoriFit Team. All rights reserved.</p>
  </div>

  <div class="flex gap-5">
    <div class="bg-[#1D1D1D] w-12 h-12 flex items-center justify-center rounded-full">
      <img src="/navbar_footer/Instagram.png" alt="" class="w-6 h-6" />
    </div>

    <div class="bg-[#1D1D1D] w-12 h-12 flex items-center justify-center rounded-full">
      <img src="/navbar_footer/Mail.png" alt="" class="w-6 h-6" />
    </div>
  </div>
</footer>