<div class="min-h-screen w-full bg-white flex flex-col">
  
  <nav class="flex items-center text-[24px] text-gray-500 mb-6 px-5 pt-5">
      <a routerLink="/profile/settings" class="hover:text-gray-800 transition-colors duration-200 cursor-pointer text-base md:text-xl">
          Settings
      </a>
      <span class="mx-2 text-gray-400 text-base md:text-xl"> &gt; </span>
      <span class="font-semibold text-gray-900 text-base md:text-xl">
          Change Password
      </span>
  </nav>

  <div class="flex-1 p-5 max-w-lg mx-auto w-full">
    
    <p class="text-gray-500 mb-8 text-sm leading-relaxed">
      Password baru Anda harus berbeda dari password yang digunakan sebelumnya.
    </p>

    <div class="mb-3">
      <label class="block text-[14px] font-semibold text-gray-700 mb-2">
        Password Lama
      </label>
      
      <div class="relative">
        <input 
            [(ngModel)]="oldPassword"
            [type]="showOldPassword ? 'text' : 'password'" 
            
            (blur)="checkOldPassword()"   
            (input)="resetOldError()"      
            [ngClass]="oldPasswordError ? 'border-red-500 focus:ring-red-500 text-red-600' : 'border-gray-200 focus:ring-blue-500 text-gray-800'"
            class="w-full pl-4 pr-12 py-3.5 bg-gray-50 text-[14px] border rounded-xl focus:bg-white focus:ring-2 focus:border-transparent outline-none transition font-medium placeholder-gray-400"
            placeholder="Masukkan password lama">

        <button 
          (click)="toggleOldVisibility()"
          class="absolute right-3 top-1/2 transform -translate-y-1/2 p-2 text-gray-400 hover:text-gray-600 focus:outline-none">
          <svg *ngIf="showOldPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
          </svg>
          <svg *ngIf="!showOldPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a10.05 10.05 0 011.574-2.59M5.25 5.25l13.5 13.5" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.88 9.88a3 3 0 104.24 4.24" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.73 5.08A10.43 10.43 0 0112 5c4.478 0 8.268 2.943 9.542 7a10.05 10.05 0 01-2.992 4.08" />
          </svg>
        </button>
      </div>
      
      <p *ngIf="oldPasswordError" class="text-xs text-red-500 mt-2 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Password lama tidak sesuai.
      </p>

      <div class="text-right mt-2" *ngIf="!oldPasswordError">
        <a href="/reset-password" class="text-xs font-medium text-blue-600 hover:text-blue-800 hover:underline transition-all">Lupa Password?</a>
      </div>
    </div>

    <div class="mb-15">
      <label class="block text-[14px] font-semibold text-gray-700 mb-2">
        Password Baru
      </label>
      
      <div class="relative">
        <input 
            [(ngModel)]="newPassword"
            [type]="showNewPassword ? 'text' : 'password'" 

            (blur)="checkNewPassword()"    
            (input)="resetNewError()"      
            [ngClass]="newPasswordError ? 'border-red-500 focus:ring-red-500 text-red-600' : 'border-gray-200 focus:ring-blue-500 text-gray-800'"
            class="w-full pl-4 pr-12 py-3.5 bg-gray-50 text-[14px] border rounded-xl focus:bg-white focus:ring-2 focus:border-transparent outline-none transition font-medium placeholder-gray-400"
            placeholder="Minimal 8 karakter">

        <button 
          (click)="toggleNewVisibility()"
          class="absolute right-3 top-1/2 transform -translate-y-1/2 p-2 text-gray-400 hover:text-gray-600 focus:outline-none">
          <svg *ngIf="showNewPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
          </svg>
          <svg *ngIf="!showNewPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a10.05 10.05 0 011.574-2.59M5.25 5.25l13.5 13.5" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.88 9.88a3 3 0 104.24 4.24" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.73 5.08A10.43 10.43 0 0112 5c4.478 0 8.268 2.943 9.542 7a10.05 10.05 0 01-2.992 4.08" />
          </svg>
        </button>
      </div>
      
      <p *ngIf="newPasswordError" class="text-xs text-red-500 mt-2 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        {{errorMessage}}
      </p>

      <p *ngIf="!newPasswordError" class="text-xs text-gray-400 mt-2 flex items-center">
        <svg class="w-4 h-4 mr-1 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        Minimal 8 karakter, kombinasi huruf dan angka.
      </p>
    </div>

   <button (click)="savePassword()" 
          [disabled]="!isFormValid"
          routerLink="/profile/settings"
          class="w-full font-semibold text-lg py-4 rounded-xl transition-all transform
                 
                 /* WARNA AKTIF (BIRU) */
                 w-full h-15 text-[16px] bg-[#AFFA01] hover:bg-[#000000] text-black hover:text-white font-semibold rounded-[7px] shadow-sm transition transform active:scale-[0.99]
                 
                 /* WARNA MATI/DISABLED (ABU-ABU) */
                 disabled:bg-gray-300 disabled:text-gray-500 disabled:shadow-none disabled:cursor-not-allowed disabled:transform-none">
    Simpan Perubahan
  </button>
  </div> 
</div>