<section
  class="relative min-h-screen md:h-[125vh] w-full bg-black overflow-hidden px-6 md:px-20 flex items-center"
>
  <div class="absolute right-0 top-0 w-full md:w-2/3 h-full opacity-60 md:opacity-100">
    <img src="pages/home/banner.png" alt="Banner" class="w-full h-full object-cover" />
  </div>

  <div class="font-poppins h-fit container relative z-10">
    <div class="w-full md:max-w-4/5">
      <h1
        class="text-(--main-color) text-5xl md:text-[100px] leading-tight md:leading-[90px] font-semibold mb-4 italic"
      >
        RAISE YOUR POTENTIAL
      </h1>
      <p class="text-slate-300 w-full md:w-1/2 text-[16px] md:text-[20px] leading-[25px] mb-6">
        Planning your workout and get the best recommendation with ViktoriFit!
      </p>
      <app-button
        routerLink="/login"
        extraClass="font-semibold text-black !text-lg border border-transparent
        hover:bg-black hover:boder-1 hover:border-gray-700 hover:text-white 
        transition-all duration-300"
        ariaLabel="Klik untuk memulai pendaftaran"
      >
        Start Now
      </app-button>
    </div>
  </div>
</section>

<!-- about us section -->
<section class="min-h-screen md:h-[120vh] w-full px-4 md:px-20 md:mt-0 mt-15 flex flex-col-reverse md:flex-row items-center justify-center overflow-x-hidden gap-10 md:gap-30">
  
  <div class="flex-1 w-full flex justify-center items-center relative py-10 md:py-0" 
       data-aos="fade-right">
    
    <div id="main-image-area" class="relative w-[320px] h-[380px] md:w-[450px] md:h-[550px]">

      <div class="absolute z-0
                  w-[280px] h-[340px] top-0 left-4
                  md:w-[420px] md:h-[500px] md:top-0 md:left-0
                  rounded-3xl bg-gradient-to-b from-(--main-color) to-[#E7F4C8] border-1 border-[#6A9700]/10">
      </div>

      <div class="absolute z-10 overflow-hidden rounded-3xl shadow-xl
                  w-[280px] h-[340px] top-6 left-8
                  md:w-[420px] md:h-[500px] md:top-10 md:left-10">
        <img src="/pages/home/image1.png" alt="" class="w-full h-full object-cover scale-110" />
      </div>

      <div class="absolute z-20 w-28 top-8 -left-2 md:w-48 md:top-15 md:left-2" 
           data-aos="zoom-in"
           data-aos-anchor="#main-image-area"
           data-aos-delay="500">
        <img src="/pages/home/popup_1.png" alt="" class="w-full drop-shadow-lg animate-bounce-slow">
      </div>

      <div class="absolute z-20 w-36 top-1/3 -right-4 md:w-58 md:top-1/3 md:left-80" 
           data-aos="zoom-in" 
           data-aos-anchor="#main-image-area"
           data-aos-delay="700">
        <img src="/pages/home/popup_2.png" alt="" class="w-full drop-shadow-lg animate-bounce-slow">
      </div>

      <div class="absolute z-20 w-44 -bottom-4 left-1/2 -translate-x-1/2 md:w-68 md:bottom-6 md:translate-x-0 md:left-65" 
           data-aos="zoom-in" 
           data-aos-anchor="#main-image-area"
           data-aos-delay="900">
        <img src="/pages/home/popup_3.png" alt="" class="w-full drop-shadow-lg animate-bounce-slow">
      </div>

    </div>
  </div>

  <div class="flex-1 flex flex-col justify-center md:pl-10 text-center md:text-left" 
       data-aos="fade-left" 
       data-aos-delay="200">
       
    <h3 class="font-poppins text-xl md:text-[32px] font-semibold text-[#4E7000] mb-2">About Us</h3>
    <h2 class="text-[42px] md:text-[56px] leading-none font-semibold mb-3 md:mb-6 italic">
      Plan Workout With <span class="text-[#4E7000]">VIKTORIFIT</span>
    </h2>
    <p class="text-[14px] md:text-[18px] mb-3 md:mb-10 text-gray-600">
      Viktorifit is here as your smart personal trainer. Powered by Machine Learning, 
      we help you plan your sessions and find the perfect workout that matches how you feel today!
    </p>
    <div class="flex justify-center md:justify-start">
      <app-button ariaLabel="Klik untuk mempelajari lebih lanjut"
          extraClass="font-semibold text-black !text-[16px] !md:text-[24px] border-1 border-transparent
          hover:bg-black hover:border-[#C3F74A] hover:text-[#C3F74A] transition-all duration-300 
          md:px-8 md:py-3 rounded-full">
        Learn More
      </app-button>
    </div>
  </div>

</section>

<!-- feature -->
<section
  class="relative w-full min-h-screen pt-16 pb-30 px-6 md:px-20 overflow-hidden font-sans"
>
  <div class="absolute inset-0 bg-[#D4F28D] z-0 pointer-events-none"
       data-aos="fade"
       data-aos-duration="1000"
       data-aos-easing="ease-in-out">
  </div>

  <div class="z-10 absolute -top-80 right-[21rem] w-[600px] h-[600px] rounded-full pointer-events-none
              bg-gradient-to-bl from-[#B3DD53] to-[#C6ED6B] opacity-100"
       data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="300">
  </div>

  <div class="z-10 absolute -top-[26rem] right-[15rem] w-[800px] h-[800px] rounded-full pointer-events-none
              bg-gradient-to-bl from-[#A7DE27]/40 to-[#C6ED6B]/40"
       data-aos="fade" data-aos-duration="2500" data-aos-delay="500">
  </div>

  <div class="z-10 absolute -top-[32rem] right-[9rem] w-[1000px] h-[1000px] rounded-full pointer-events-none
              bg-gradient-to-bl from-[#A7DE27]/30 to-[#D3F08F]/30"
       data-aos="fade" data-aos-duration="3000" data-aos-delay="700">
  </div>

  <div class="z-10 absolute top-100 -right-[14rem] w-100 h-100 rounded-full pointer-events-none
            bg-gradient-to-tl from-[#A7DE27] to-[#D3F08F]
            [mask-image:radial-gradient(closest-side,transparent_70%,black_70%)]"
       data-aos="fade-left" data-aos-duration="1500">
  </div>

  <div class="z-10 absolute top-200 -left-[12rem] w-70 h-70 rounded-full pointer-events-none
            bg-gradient-to-tr from-[#A7DE27] to-[#D3F08F] opacity-70
            [mask-image:radial-gradient(closest-side,transparent_70%,black_70%)]"
       data-aos="fade-right" data-aos-duration="1500">
  </div>

  <div class="container mx-auto relative z-20">
    
    <div class="font-poppins text-center mb-16 md:mb-30 max-w-3xl mx-auto">
      <h3 class="text-[#4E7000] font-semibold text-[24px] md:text-[32px] mb-2" 
          data-aos="fade-in" data-aos-delay="500">
        Our Services
      </h3>
      <h2 class="text-[42px] md:text-[60px] md:text-5xl leading-none font-semibold italic text-[#2D3319] mb-6"
          data-aos="fade-up" data-aos-delay="700">
        Smart <span class="text-[#4E7000]">Feature</span> For <br class="hidden md:block" />
        Your Workout
      </h2>
      <p class="text-[#5A6340] text-[14px] md:text-[18px] leading-relaxed max-w-xl mx-auto"
         data-aos="fade-up" data-aos-delay="900">
        Here are 5 key features designed to help you stay consistent and workout with ease.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-6 max-w-7xl mx-auto">
      <div
        *ngFor="let item of services; let i = index"
        class="bg-[#F2F2F2] rounded-[15px] p-5 shadow-[#8AC500]/50 shadow-md border border-[#F4F4F4]"
        [ngClass]="{
          'lg:col-span-3': i < 2,
          'lg:col-span-2': i >= 2,
          'md:col-span-1': true
        }"
        data-aos="fade-up"
        [attr.data-aos-delay]="(i * 100) + 1000"
      >
        <div class="relative w-full h-48 sm:h-56 bg-gradient-to-b from-[#C3F74A] to-[#E7F4C8] rounded-[10px] overflow-hidden border border-[#E0EAD0] mb-5 group">
          <div class="absolute px-5 pt-5 flex items-center justify-center opacity-100">
            <img [src]="item.imagePlaceholder" 
            class="w-full h-full object-cover 
                  [mask-image:linear-gradient(to_bottom,black_20%,transparent_95%)]" 
                  alt="item.title" />
          </div>
          <div class="absolute top-2 right-2 w-12 h-12 md:w-15 md:h-15 bg-[#DBF3A3] border-2 border-[#C4E96E] rounded-lg flex items-center justify-center shadow-s z-10">
            <img [src]="item.icon" class="h-6 w-6 md:h-8 md:w-8 object-full" alt="item.title" />
          </div>
        </div>
        <div class="px-2 pb-5">
          <h4 class="font-poppins text-[#557A00] text-[20px] md:text-[24px] font-semibold mb-2">{{ item.title }}</h4>
          <p class="font-poppins text-gray-500 text-[14px] md:text-[16px] leading-relaxed">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-gradient-to-b from-[#D4F28D] to-[#F2F2F2] overflow-hidden min-h-screen">
  
  <div class="relative bg-[#131313] py-20 px-4 lg:py-30 lg:px-20 rounded-xl"
       data-aos="fade-up" 
       data-aos-duration="1000">

    <div class="relative z-20 mx-auto flex flex-col lg:flex-row items-center gap-10 lg:gap-20">
      
      <div class="w-full lg:w-1/2 text-center lg:text-left"
           data-aos="fade-right"
           data-aos-delay="300">
        <h3 class="font-poppins font-semibold text-[#C3F74A] text-2xl lg:text-[32px] mb-2">Our Program</h3>
        <h2 class="font-poppins text-white text-[42px] lg:text-5xl font-semibold italic leading-none mb-8">
          Explore Our Workout <span class="text-[#C3F74A]">Programs</span>
        </h2>
        <p class="text-gray-400 text-[14px] lg:text-[18px] mb-6 lg:mb-10">
          Explore our curated programs designed to help you reach your goals. 
          Slide through the cards to see what we offer.
        </p>
        
        <app-button routerLink="/suggestion-intro"
          extraClass="!mt-2 lg:!mt-7 !py-3 lg:!py-4 !px-6 lg:!px-8 
          font-semibold text-black !text-base lg:!text-lg 
          border-1 border-transparent
          hover:border-[#C3F74A] hover:text-[#C3F74A] hover:bg-black
          transition-all duration-300">
          Try Recommendation
        </app-button>
      </div>

      <div class="w-full lg:w-1/2 relative group mt-8 lg:mt-0"
           data-aos="fade-left"
           data-aos-delay="500">
        
        <div #programSlider class="max-w-[850px] flex gap-5 scroll-smooth no-scrollbar
                                    py-10 px-15 lg:px-20 lg:pr-25
                                    transition-transform duration-500 ease-in-out"
                                    [style.transform]="'translateX(-' + (activeIndex * slideWidth) + 'px)'">
          
          <div 
            *ngFor="let p of ourPrograms; let i = index"
            class="h-[370px] lg:h-[440px] p-6 lg:p-8 rounded-3xl 
                  shrink-0 flex flex-col justify-between shadow-lg 
                  transition-all duration-500 ease-in-out"
            [class.opacity-100]="i === activeIndex"
            [class.opacity-50]="i > activeIndex"
            [class.opacity-0]="i < activeIndex"
            [class.scale-105]="i === activeIndex"
            [class]="i === activeIndex 
                ? 'w-[280px] lg:w-[350px]' 
                : 'w-[260px] lg:w-[300px]'"
            [class]="i === activeIndex ? 'bg-[#C3F74A] text-black' : 'bg-white text-black'"
            >
            
            <div class="w-full h-full rounded-lg mb-4 overflow-hidden relative">
              <img [src]="p.image" 
                  class="w-full h-full object-contain object-center" 
                  alt="item.title" />
            </div>
            <div class="font-poppins text-center items-center justify-center mx-auto">
              <h3 class="text-[18px] lg:text-[24px] text-[#2E4200] font-semibold mb-2">{{ p.title }}</h3>
              <p class="text-[12px] lg:text-[14px] text-[#4E7000] opacity-80 w-[280px] lg:w-[300px]">{{ p.desc }}</p>
            </div>
          </div>

        </div>

        <button (click)="navigasiSlider('kiri')" 
                class="absolute lg:-left-4 -left-0 top-1/2 -translate-y-1/2 z-10 bg-white/20 p-3 rounded-full backdrop-blur-md border border-white/20"
                data-aos="fade-in"
                data-aos-delay="1200">
          <svg class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-width="3" d="M15 19l-7-7 7-7"/></svg>
        </button>

        <button (click)="navigasiSlider('kanan')" 
                class="absolute lg:-right-4 -right-0 top-1/2 -translate-y-1/2 z-10 bg-white/20 p-3 rounded-full backdrop-blur-md border border-white/20"
                data-aos="fade-in"
                data-aos-delay="1200">
          <svg class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-width="3" d="M9 5l7 7-7 7"/></svg>
        </button>
      </div>

    </div>

    <div class="absolute bottom-0 left-0 w-full z-9"
         data-aos="fade-up"
         data-aos-duration="1500"
         data-aos-anchor-placement="top-bottom"
         data-aos-anchor="#main-image-area"
         data-aos-delay="900">
      <img 
        src="/pages/suggestion/city.png" 
        alt="City Background" 
        class="w-full h-auto object-cover scale-[250%] lg:scale-165" 
      />
    </div>

  </div>
</section>

<section class="pt-10 md:pt-20 pb-10 px-6 md:px-20 bg-[#FFFFFF] overflow-hidden">
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-end mb-10 md:mb-16 gap-6"
    data-aos="fade-up"
  >
    <div class="w-full pt-10 md:max-w-3/4">
      <h3 class="text-[20px] md:text-[32px] font-semibold text-[#4E7000] mb-2" data-aos="fade-right" data-aos-delay="200">
        Our Benefits
      </h3>
      <h2 class="font-semibold italic text-[36px] sm:text-5xl text-gray-900 mb-6" data-aos="fade-right" data-aos-delay="400">
        Why <span class="text-[#4E7000]">choose us?</span>
      </h2>
      <p class="text-gray-600 leading-relaxed text-[14px] sm:text-base max-w-2xl" data-aos="fade-right" data-aos-delay="600">
        Our commitment to your wellness goes beyond just classes and training sessions. Discover the
        unique benefits that set us apart and ensure you have the best experience on your wellness
        journey.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div
      *ngFor="let item of features; let i = index"
      class="relative overflow-hidden rounded-[15px] shadow-[#4E7000]/10 shadow-md p-8 pb-20 flex flex-col justify-between"
      [ngClass]="{
        'bg-[#E7F4C8] border border-[#BCE360]/50': item.color === 'green',
        'bg-[#F2F2F2] border border-[#9A9A9A]/10': item.color === 'white'
      }"
      data-aos="fade-up"
      [attr.data-aos-delay]="200 + (i * 150)"
    >

      <div class=" z-0 absolute top-0 left-70 md:-right-55 w-80 h-80 md:w-100 md:h-100 rounded-full pointer-events-none
            [mask-image:radial-gradient(closest-side,transparent_70%,black_70%)]
            bg-gradient-to-tl from-[#BCE360]/70 to-transparent"

            [ngClass]="{
                      'opacity-100': item.color === 'green',
                      'opacity-60 ': item.color === 'white'}"
            >
       </div>

      <div class="z-10">
        <div
          class="w-15 h-15 rounded-[10px] bg-[#BCE360] border border-[#4E7000]/20 flex items-center justify-center mb-6"
        >
          <img 
            [src]="item.image" 
            [alt]="item.title"
            class="h-10 w-10 object-contain opacity-50">
        </div>

        <h3 class="text-[18px] md:text-[20px] font-semibold text-[#4E7000] mb-4 leading-tight">
          {{ item.title }}
        </h3>
        <p class="text-[12px] md:text-[14px] leading-relaxed text-gray-600">
          {{ item.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="relative px-4 py-16 md:px-20 md:py-30 overflow-hidden">
  <div
    class="relative z-1 bg-black w-full rounded-3xl overflow-hidden text-white 
          shadow-sm shadow-[#4E7000]/60 border border-[#7D7D7D]/60 
          md:min-h-[400px] min-h-[350px] flex items-center"
    data-aos="zoom-in-up"
    data-aos-duration="1000"
  >
    
    <img
      src="/pages/home/cta_running.png"
      alt="Running Athlete"
      class="absolute z-0 w-full h-full object-cover 
             object-right md:object-center 
             scale-125 md:scale-125 
             opacity-40 md:opacity-100 
             transition-transform duration-700 group-hover:scale-110"
    />

    <div class="z-10 absolute -top-30 -left-40 w-100 h-100 rounded-full pointer-events-none
                [mask-image:radial-gradient(closest-side,transparent_70%,black_70%)]
                bg-gradient-to-br from-[#BCE360]/60 to-transparent">
    </div>

    <div
      class="absolute inset-0 z-9 bg-gradient-to-r from-black via-black/90 md:via-black/60 to-transparent"
    ></div>

    <div
      class="z-10 py-5 md:py-15 px-10 md:pl-20 w-full md:w-2/3 md:text-left text-center relative 
          flex flex-col gap-5 font-poppins"
    >
      <h2 class="text-[32px] md:text-[50px] font-semibold leading-none italic">
        PERSONALIZE YOUR <br />
        <span class="text-[#C3F74A]">WORKOUT NOW!</span>
      </h2>

      <p class="text-gray-300 text-[14px] md:text-base max-w-md leading-relaxed">
        Join ViktoriFit today! Experience the power of AI-driven personalized workouts 
        and create a flexible schedule that perfectly fits your unique lifestyle.
      </p>

      <div>
        <app-button
          routerLink="/login"
          extraClass="!mt-4 !py-3 !px-10 font-semibold text-black !text-sm border border-transparent
          hover:bg-transparent hover:border-[#C3F74A] hover:text-[#C3F74A] 
          transition-all duration-300 w-fit bg-[--main-color] rounded-full"
        >
          Start Now
        </app-button>
      </div>
    </div>

  </div>
</section>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1000, // Durasi animasi (1 detik)
    once: true,     // Animasi hanya terjadi sekali saat scroll ke bawah
  });
</script>