<div class="w-full space-y-8 lg:-mt-16">
  <div class="bg-[#F4F4F4] rounded-[11px] border border-[#D2D2D2]">
    <div class="p-5">
      <h3 class="text-[28px] font-bold mb-7">Calendar</h3>

      <div class="flex items-center justify-between mb-6">
        <div class="flex flex-row gap-4">
          <span class="text-[16px] font-medium text-gray-700">{{ displayMonthYear }}</span>
          <img src="/pages/calendar/calendar.svg" alt="" />
        </div>
        <div class="flex gap-2">
          <button
            aria-label="button"
            (click)="changeMonth(-1)"
            class="w-6 h-6 rounded-full bg-[#4E7000] flex items-center justify-center text-white hover:bg-black transition cursor-pointer"
          >
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              ></path>
            </svg>
          </button>
          <button
            aria-label="button"
            (click)="changeMonth(1)"
            class="w-6 h-6 rounded-full bg-[#4E7000] flex items-center justify-center text-white hover:bg-black transition cursor-pointer"
          >
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="grid grid-cols-7 text-center mb-4 mt-7">
        <div *ngFor="let day of weekDays" class="text-[12px] font-bold text-[#5C8C00]">
          {{ day }}
        </div>
      </div>

      <div class="grid grid-cols-7 text-center gap-y-4">
        <ng-container *ngFor="let row of calendarDays">
          <div *ngFor="let dateObj of row" class="flex justify-center items-center">
            <div
              class="w-8 h-8 flex items-center justify-center rounded-full text-[12px] font-medium transition select-none cursor-default"
              [class.bg-[#AFFA01]]="dateObj.isCurrentMonth && dateObj.isWorkout"
              [class.text-black]="dateObj.isCurrentMonth && dateObj.isWorkout"
              [class.font-bold]="dateObj.isCurrentMonth && dateObj.isWorkout"
              [class.text-gray-600]="dateObj.isCurrentMonth && !dateObj.isWorkout"
              [class.text-gray-300]="!dateObj.isCurrentMonth"
            >
              {{ dateObj.day }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="h-px bg-[#D2D2D2] mx-6 mt-5"></div>

    <div class="p-6">
      <h3 class="text-[18px] font-medium mb-6">Summary</h3>

      <div class="mb-8">
        <h4
          class="text-[14px] font-bold text-[#4E7000] mb-4 uppercase tracking-wider border-b border-gray-300 pb-2"
        >
          🏠 Home Routine
        </h4>

        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <div
              class="w-12 h-12 bg-[#DBF3A3] border border-[#8AC500] rounded-[7px] flex items-center justify-center text-black shrink-0"
            >
              <img src="/pages/calendar/summary-duration.svg" alt="" class="w-5 h-5" />
            </div>
            <div>
              <p class="text-[13px] font-medium text-gray-600">Avg. Duration</p>
              <p class="text-[14px] font-bold text-[#1F1F1F]">{{ homeStats.duration }}</p>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div
              class="w-12 h-12 bg-[#FFB0A4] border border-[#DB6755] rounded-[7px] flex items-center justify-center text-black shrink-0"
            >
              <img src="/pages/calendar/summary-calories.svg" alt="" class="w-5 h-5" />
            </div>
            <div>
              <p class="text-[13px] font-medium text-gray-600">Est. Calories</p>
              <p class="text-[14px] font-bold text-[#1F1F1F]">{{ homeStats.calories }}</p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h4
          class="text-[14px] font-bold text-[#1F4E79] mb-4 uppercase tracking-wider border-b border-gray-300 pb-2"
        >
          💪 Gym Routine
        </h4>

        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <div
              class="w-12 h-12 bg-[#C5D6FF] border border-[#9AB7FF] rounded-[7px] flex items-center justify-center text-black shrink-0"
            >
              <img src="/pages/calendar/summary-duration.svg" alt="" class="w-5 h-5" />
            </div>
            <div>
              <p class="text-[13px] font-medium text-gray-600">Avg. Duration</p>
              <p class="text-[14px] font-bold text-[#1F1F1F]">{{ gymStats.duration }}</p>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div
              class="w-12 h-12 bg-[#E1C5FF] border border-[#B39AFF] rounded-[7px] flex items-center justify-center text-black shrink-0"
            >
              <img src="/pages/calendar/summary-calories.svg" alt="" class="w-5 h-5" />
            </div>
            <div>
              <p class="text-[13px] font-medium text-gray-600">Est. Calories</p>
              <p class="text-[14px] font-bold text-[#1F1F1F]">{{ gymStats.calories }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
