.focus-background {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.focus-background-logout {
  mask-image: url(/layout/profile/log-out.svg);
}
